.stopwatch-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.stopwatch-container {
    background-color: black;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
}

.stopwatch-clock {
    display: flex;
    font-size: 80px;
    font-weight: bold;
    color: red;
}

.stopwatch-number {
    margin: 0 5px;
}

.stopwatch-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-self: center;
}

.stopwatch-time-container {
    margin-top: 16px;
    text-align: center;
    color: red;
    margin: 15px;
}

.stopwatch-time-container p {
    margin: 0;
    font-size: 35px;
    color: red;
    /* Remove white-space: nowrap;  */
    /* Allow text wrapping if needed */
}
#est-finish, #last-k {
    font-size: 40px;
    font-weight: bold;
}

.stopwatch-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 30px;
}

@media (max-width: 768px) {
    .stopwatch-container {
        width: 250px;
    }
    #est-finish, #last-k {
        font-size: 25px !important;
    }
    .stopwatch-clock {
        font-size: 50px !important;
        ;
    }

    .stopwatch-text p {
        font-size: 25px !important;
        ;
    }

    .play-pause-btn {
        padding: 10px 15px !important;
        font-size: 16px !important;
    }

    .stopwatch-input {
        display:flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: 15px;
    }
    .stopwatch-input input {
        height: 30px;
        font-size: 15px;
        width: 80% !important;
    }
}

.play-pause-btn {
    background-color: black;
    border: none;
    color: red;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.play-pause-btn:hover {
    border: medium solid black;
    background-color: white;
    /* Darker shade of green */
    color: red;
}